@use "utils/style/variables.scss";
@use "utils/style/mixins.scss";
.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: variables.$enemy-color;
    border-bottom: 2px solid variables.$enemy-color;
    width: 650px;
  }
  &__arrow {
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
  }
  &__nodes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .TBI{
    left: 150px;
  }
}
