@use "utils/style/variables.scss";
@use "utils/style/mixins.scss";
.timeline{
    padding: 20px; 

    &__title{
        margin: 0;
        padding: 0;
        font-size: 30px;
        color: variables.$red;
    }
    &__arrow{
        width: 40px;
        height: 40px;
        image-rendering: pixelated;
    }
    &__nodes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}