@use "utils/style/mixins.scss";


.academy {
  display: flex;
  flex-direction: column;
  &__pannel{
    @include mixins.pannel;
    
  }
  &__title {
    margin: 0;
    padding: 0;
    background-color: #24282b;
    font-size: 26px;
  }
  &__statContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: #24282b 2px solid;

    &__stat {
      margin: 0;
      padding: 0;
      font-size: 23px;
      &-red {
        color: #db802b;
        display: inline;
        padding-left: 2px;
        font-size: 23px;
      }
      &-blue {
        color: #5cacee;
        display: inline;
        padding-left: 2px;
        font-size: 23px;
      }
    }
  }
  &__iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
  }
}
