.fight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: #1b1f21;
    color: #f7eed6;
    border: 2px solid #f7eed6;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;

    box-sizing: border-box;
}