.unitIcon{
    display: flex;
    flex-direction: column;
    &--row{
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100px;
        gap: 20px;
    }
    &__image{
        width: 64px;
        height: 64px;
        image-rendering: pixelated;  
        &--inactive{
            filter: grayscale(100%);
        }
    }
    &__caption{
        font-size: 25px;
    }
}