@use "utils/style/variables";

.forgeRow {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;
  padding: 20px 0px;
  border-top: variables.$secondary-color-dark 2px solid;
  background-color: variables.$primary-color-light;
  &:last-child{
    border-bottom: variables.$secondary-color-dark 2px solid ;
  }
  &__unit{
    display: flex;
    align-items: center;
    justify-self: right;
    box-sizing: border-box;
    padding: 0px 25px;
    gap: 30px;
    
    border-right: variables.$secondary-color-dark 2px solid;
  }
  &__stat{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap:10px;
    &__icon{
      height: 32px;
      width:32px;
      image-rendering: pixelated;
    }
    &-defense{
      color: variables.$player-defense;
    }
    &-strength{
      color: variables.$player-strength;
    }
  }

  &__upgrades{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link{
    text-decoration: none;
    background-color: variables.$secondary-color;
    width: 20px;
    height: 5px;
    font-size: 16px;
  }
}
