@use "utils/style/variables.scss";

.buildingsPannel {
  margin-top: 30px;
  &:last-of-type {
    border-bottom: variables.$secondary-color-dark 2px solid;
  }
  &-hidden {
    display: none;
  }
  &__subtitle {
    border-bottom: 2px solid variables.$secondary-color-dark;
    border-top: 2px solid variables.$secondary-color-dark;
  }
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid variables.$primary-color-light;
    background-color: variables.$primary-color-light;
    &-market {
      gap: 0;
      display: flex;
      flex-direction: row;
    }
    &-marketUnlocked{
      gap: 0;
      display: flex;
      flex-direction: row;
      padding: 15px;
    }
  }
  &__marketPannel {
    width: 50%;
    border: 2px solid variables.$secondary-color-dark;

    &__title {
      border-bottom: 2px solid variables.$secondary-color-dark;
    }
    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px;
    }
  }
  &__magePannel {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 20px;
  }
}
