@use "utils/style/variables.scss";

.buildingsPannel{
    margin-top: 30px;
    &:last-of-type{
        border-bottom: variables.$secondary-color-dark 2px solid ;
      }
    &-hidden{
        display: none;
    }
    &__subtitle{
        border-bottom: 2px solid variables.$secondary-color-dark;
        border-top: 2px solid variables.$secondary-color-dark;
    }
    &__section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 25px;
        padding: 20px;
        border-bottom: 2px solid variables.$primary-color-light;
        background-color: variables.$primary-color-light;
        &-market{
            gap:0;

        }
    }
    &__marketPannel{
        width: 50%;
        border: 2px solid variables.$secondary-color-dark;

        &__title{
            border-bottom: 2px solid variables.$secondary-color-dark;
        }
        &__buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 20px;
        }
    }
}