@use "utils/style/mixins";
@use "utils/style/variables";


.enemy {
  @include mixins.topPannel;
  gap: 20px;
  justify-content: space-around;

  &-highlanders{
    border-color: variables.$enemy-color;
  }
  &-twisted_satyrs{
    border-color: variables.$enemy-color-2;
  }
  &-hill_giants{
    border-color: variables.$enemy-color-3;
  }

  &__title {
    margin: 0;
    padding: 0;

    &-highlanders {
      color: variables.$enemy-color;
    }
    &-twisted_satyrs{
      color: variables.$enemy-color-2;
    }
    &-hill_giants{
      color: variables.$enemy-color-3;
    }
  }

  &__icon{
    width: 30px;
    height: 30px;
    image-rendering: pixelated;
  }
  &__recap {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    background-color: #24282b;

    &__title {
      padding-top: 20px;
      padding-left: 20px;
      font-size: 20px;
    }
    &__text {
      padding-left: 50px;
      margin: 0;
      color: hsl(44, 67%, 65%);
    }
  }
}
