@use 'sass:color';
@use 'utils/style/variables.scss';
@use 'utils/style/mixins.scss';


.talentNode{
    box-sizing: border-box;
    background-color: variables.$primary-color;
    color: variables.$secondary-color;
    border: 2px solid variables.$secondary-color;
    width: 128px;
    height: 128px;
    padding: 20px;
    &:hover{
        cursor: pointer;
        background-color: color.adjust(variables.$primary-color , $lightness: 10%);
    }

    &-locked{
        cursor: not-allowed;
        background-color: color.adjust(variables.$primary-color , $lightness: -5%);
        color: color.adjust(variables.$secondary-color, $lightness: -10%);
        border: 2px solid color.adjust(variables.$secondary-color, $lightness: -20%);
    }

    &-unlocked{
        background-color: color.adjust(variables.$primary-color, $lightness: 20%);
    }
}