$primary-color: #1b1f21;
$primary-color-light: #24282b;
$secondary-color: #f7eed6;
$secondary-color-dark: #5c5c5c;

$player-strength: #db802b;
$player-defense: #5cacee;

$enemy-color: #e64539;
$enemy-color-2: #af63ef;
$enemy-color-3: #bff76b;