.tooltip{
    margin-left: 30px;
    padding: 15px 25px;
    max-width: 350px;
    background-color: #1b1f21 ;
    color: #f7eed6 ;
    border: #f7eed6 2px solid ;
    z-index: 2;
    box-shadow:  9px 13px 4px  #04040459;


    &__title{
        font-size: 20px;
        padding: 0;
        text-align: center;
        margin-bottom: 20px;
        border-bottom: #f7eed6 1px solid ;
    }

    &__data{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        &-col{
            flex-direction: column;
            padding-left: 35px;
        }
    }
    &__text{
        font-size: 14px;
        text-align: left;
        &-strength{
            color: #db802b;
        }
        &-defense{
            color: #5cacee;
        }
        &-cost{
            color: gold;
        }
        &-passive{
            padding: 0 25px;
            background-color: #5f5573;
            border: #f7eed6 2px solid ;
        }
        &-required{
            color: #d13216;
        }
    }
}