
.timelineNode{
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
    transition: all 0.5s;

    &:hover{
        transition: all 0.5s;
        transform: translateY(-20px);  
    }
    &-anim{
        animation-name: icon-movement;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        cursor: pointer;
    }

}

@keyframes icon-movement {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}