.reroll{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff00;
    height: fit-content;
    width: fit-content;
    &__icon{
        width: 64px;
        height: 64px;
    }
}