@use "utils/style/mixins";

.resources {
  @include mixins.topPannel;
  justify-content: space-around;
  gap: 20px;
  &__title{
    font-size: 18px;
  }
  &__text {
    font-size: 15px;

    &--gold {
      color: gold;
    }
    &--scavenged {
      color: rgb(186, 199, 198);
    }
    &--souls {
      color: #77aaa2;
    }
    &--humans{
      padding:10px;
      border: 2px solid #c42431;
      color: #c42431;
    }
  }
}
